<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Order Confirmation</title>
</head>

<body>
	<h1>Order Information</h1>

	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Email Address: </strong><%- email %><br>
		<strong>Pizza Size: </strong><%- size %><br>
		<strong>Additional Information: </strong><%- additionalInformation %>
		<br>

		<h1>Thanks for your order!</h1>
		<strong></strong>Here's a trivia fact: </strong><%- fact %>: <%- answer %>
		<br>
	</div>

    <a href="/">HOME</a>
</body>

</html>